.tailwind {
  @tailwind base;
  @tailwind components;
}
@layer hbg;
@tailwind utilities;

@layer base {
  :focus-visible {
    box-shadow: none;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

.layer-complementary {
  --color-layer-dark: var(--color-complementary);
  --color-layer: var(--color-complementary-light);
  --color-layer-light: var(--color-complementary-lighter);
  --color-layer-lighter: var(--color-complementary-lightest);
}
.layer-white {
  --color-layer-dark: #fff;
  --color-layer: #fff;
  --color-layer-light: #fff;
  --color-layer-lighter: #fff;
}
.layer-neutral {
  --color-layer-dark: var(--color-default);
  --color-layer: var(--color-light);
  --color-layer-light: var(--color-lighter);
  --color-layer-lighter: var(--color-lightest);
}
.layer-card {
  --color-layer-dark: var(--color-background-card);
  --color-layer: var(--color-background-card);
  --color-layer-light: var(--color-background-card);
  --color-layer-lighter: var(--color-background-card);
}

@layer components {
  .typography-h1 {
    font-family: var(
      --h1-font-family,
      var(--font-family-heading, var(--font-family-base))
    );
    font-size: clamp(
      var(--font-size-base, 1rem) + 0.5rem,
      3vw,
      var(--h1-font-size, 2rem)
    );
    font-weight: var(--h1-font-weight, var(--font-weight-bold, 700));
    line-height: var(--h1-line-height, 1.25);
  }

  .typography-h2 {
    font-family: var(
      --h2-font-family,
      var(--font-family-heading, var(--font-family-base))
    );
    font-size: clamp(
      var(--font-size-base, 1rem) + 0.125rem,
      3vw,
      var(--h2-font-size, 1.125rem)
    );
    font-weight: var(--h2-font-weight, var(--font-weight-heading, 500));
    line-height: var(--h2-line-height, var(--line-height-heading, 1.33));
  }

  .typography-h3 {
    font-family: var(
      --h3-font-family,
      var(--font-family-heading, var(--font-family-base))
    );
    font-size: clamp(
      var(--font-size-base, 1rem) + 0.125rem,
      3vw,
      var(--h3-font-size, 1.125rem)
    );
    font-weight: var(--h3-font-weight, var(--font-weight-heading, 500));
    line-height: var(--h3-line-height, var(--line-height-heading, 1.33));
  }

  .typography-h4 {
    font-family: var(
      --h4-font-family,
      var(--font-family-heading, var(--font-family-base))
    );
    font-size: clamp(
      var(--font-size-base, 1rem),
      3vw,
      var(--h4-font-size, 1rem)
    );
    font-weight: var(--h4-font-weight, var(--font-weight-heading, 500));
    line-height: var(--h4-line-height, var(--line-height-heading, 1.33));
  }

  .typography-h5 {
    font-family: var(
      --h5-font-family,
      var(--font-family-heading, var(--font-family-base))
    );
    font-size: clamp(
      var(--font-size-base, 1rem) - 0.125rem,
      3vw,
      var(--h5-font-size, 0.875rem)
    );
    font-weight: var(--h5-font-weight, var(--font-weight-heading, 500));
    line-height: var(--h5-line-height, var(--line-height-heading, 1.33));
  }

  .typography-caption {
    font-family: var(
      --caption-font-family,
      var(--font-family-heading, var(--font-family-base))
    );
    font-size: clamp(
      var(--font-size-base, 1rem) - 0.125rem,
      3vw,
      var(--caption-font-size, 0.875rem)
    );
    font-weight: var(--caption-font-weight, 400);
    line-height: var(--caption-line-height, 1);
  }

  .typography-body {
    @apply mb-3 mt-0;
  }

  .typography-list {
    @apply mb-3 ps-[3ch];
  }

  .typography-li:not(:first-child) {
    @apply mt-2;
  }
  .typography-li {
    @apply ps-1;
  }

  .typography-link {
    @apply text-[--color-link] visited:text-link-visited hover:text-link-hover visited:hover:text-link-visited-hover;
    text-decoration: underline;
  }

  .prose {
    @apply prose-link:typography-link prose-heading:no-underline;
  }
  .prose.prose :where(.prose > :first-child) {
    @apply mt-0;
  }
  .prose.prose :where(.prose > :last-child) {
    @apply mb-0;
  }
  .prose :where(ol, ol[type='1' s]):where(:not(.no-prose)) {
    list-style-type: decimal;
  }
  .prose :where(ol[type='a' s]):where(:not(.no-prose)) {
    list-style-type: lower-alpha;
  }
  .prose :where(ol[type='A' s]):where(:not(.no-prose)) {
    list-style-type: upper-alpha;
  }
  .prose :where(ol[type='i' s]):where(:not(.no-prose)) {
    list-style-type: lower-roman;
  }
  .prose :where(ol[type='I' s]):where(:not(.no-prose)) {
    list-style-type: upper-roman;
  }
  .prose :where(ul):where(:not(.no-prose)) {
    list-style-type: disc;
  }

  .prose {
    @apply prose-h1:typography-h1 prose-h2:typography-h2 prose-h3:typography-h3 prose-h4:typography-h4 prose-h5:typography-h5 prose-body:typography-body prose-list:typography-list prose-li:typography-li /* prose-h6:typography-h6 prose-lead:typography-lead prose-blockquote:typography-blockquote; */ prose-h1:mb-3 prose-h2:mb-3 prose-h3:mb-3 prose-h4:mb-3 prose-h5:mb-3;
  }

  .grid {
    gap: 0;
  }
  .grid > * {
    min-height: auto;
    position: static;
  }
}

.tailwind.contents {
  display: contents;
}

@layer hbg {
  .c-typography__variant--p {
    margin-top: calc(var(--base, 8px) * 2);
  }
  .c-collection p {
    margin-top: 0;
  }
  .c-brand__logotype {
    flex: none;
  }
  .c-header__logotype-link {
    flex-shrink: 0;
  }
}

/**
 * Hides articles, sidebars etc that don't have any content
 */
:is(.content, .c-signature, .s-article, .s-sidebar):where(
    :empty:not(area, embed, hr, img, input, source, track),
    :not(:has(:not(:empty), area, embed, hr, img, input, source, track))
  ) {
  display: none;
}

/**
 * Fixes conflicts between the language selector and the MXUI card component
 */
.site-language-menu .site-language-menu__card {
  position: absolute !important;
  /* right: 0;
  top: 100%; */
  width: calc(var(--base, 8px) * 34) !important;
}
.site-language-menu.is-expanded .site-language-menu__card {
  display: grid !important;
}
.site-language-menu:not(.is-expanded) .site-language-menu__card {
  display: none !important;
}

.site-language-menu .site-language-menu__card {
  @media screen and (max-width: 600px) {
    height: auto;
  }
}

#sidebar-top-sidebar {
  background: var(--color-complementary-light);
  @apply layer-white;
}

.c-header__tab-menu--above {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.c-header__tab-menu--standard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.c-header__inner-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tab-area {
  padding-bottom: 0.5rem;
}

.tab-area {
  padding-top: 0.5rem;
}

@media (max-width: 30rem) {
  :is(#mobile-menu-trigger-open, #site-language-menu-button) {
    min-width: auto;
  }
  :is(#mobile-menu-trigger-open, #site-language-menu-button)
    .c-button__label-text {
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
  :is(#mobile-menu-trigger-open, #site-language-menu-button)
    .c-button__label-icon {
    margin-right: calc(var(--base, 8px) * -0.5);
  }
}

/**
 * Padding doesn't work on MXUI icon so we need to override with margin
 */
.c-field .c-field__inner .c-field__icon,
.c-field .c-field__inner .c-field__prefix {
  padding-left: 0;
  margin-left: var(--c-field-padding, 1rem);
}
.c-field.c-field--sm .c-field__icon,
.c-field.c-field--sm .c-field__prefix {
  padding-left: 0;
  margin-left: 0.5rem;
}
.c-field.c-field--md .c-field__icon,
.c-field.c-field--md .c-field__prefix {
  padding-left: 0;
  margin-left: 1rem;
}
.c-field.c-field--lg .c-field__icon,
.c-field.c-field--lg .c-field__prefix {
  padding-left: 0;
  margin-left: calc(1.25rem);
}

/**
 * Fixes icons added via JavaScript in the Events module
 */
.modularity-event-index .c-pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modularity-event-index .c-pagination__item .c-icon.material-icons {
  @apply inline-block size-[1em] flex-none bg-current align-[-6.25%] text-[1.5rem] text-[color:var(--icon-color,inherit)] [mask-repeat:no-repeat] [mask-size:100%];
  content-visibility: hidden;
}
.modularity-event-index
  .c-pagination__item.c-pagination__item--previous
  .c-icon.material-icons {
  mask-image: url('./assets/material-symbols/outlined/chevron_left_fill1_24px.svg');
}
.modularity-event-index
  .c-pagination__item.c-pagination__item--next
  .c-icon.material-icons {
  mask-image: url('./assets/material-symbols/outlined/chevron_right_fill1_24px.svg');
}
.modularity-event-index
  .c-pagination__item.c-pagination__item--previous
  + .c-pagination__item.u-display--none\@xs
  + .c-pagination__item.u-display--none\@xs
  .c-icon.material-icons {
  mask-image: url('./assets/material-symbols/outlined/more_horiz_fill1_24px.svg');
}
.modularity-event-index
  .c-pagination__page-wrapper
  + .c-pagination__item.u-display--none\@xs
  .c-icon.material-icons {
  mask-image: url('./assets/material-symbols/outlined/more_horiz_fill1_24px.svg');
}

.c-nav__text {
  word-break: break-word;
  hyphens: auto;
}

.c-modal {
  width: max-content;
}

.c-modal--is-panel {
  height: auto;
  width: auto;
  max-height: max-content;
  max-width: max-content;
}

blockquote {
  background: var(--color-secondary-light);
}
blockquote::before,
blockquote::after {
  content: url('./assets/material-symbols/outlined/format_quote_fill1_24px.svg');
}
blockquote::after {
  transform: rotate(360deg);
  display: inline-block;
}

/* Hamburgermeny background color */
.c-drawer.c-drawer--primary {
  background-color: var(--color-background);
}

/**
 * Fixes for full-width sections:
 * - Uses container query units to account for scrollbar width
 * - Limits the width to 1920px for larger screens
 */
body {
  container-type: inline-size;
  container-name: body;
}
.c-segment.c-segment--stretch {
  left: auto;
  margin-left: calc((min(100cqw, 1920px) - 100%) / -2);
  margin-right: 0;
  position: relative;
  right: auto;
  width: calc(min(100cqw, 1920px));
}

/* Mod text */
.modularity-mod-text a img.alignleft {
  float: left;
  margin: 5px 20px 5px 0;
}

.modularity-mod-text a img.alignright {
  float: right;
  margin: 5px 0 5px 20px;
}

.modularity-mod-text a img.alignnone {
  margin: 0;
}

.modularity-mod-text a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul li::marker {
  color: inherit;
}

#site-footer {
  margin-top: 4rem;
}
.bottom-sidebar {
  margin-top: 4rem;
  margin-bottom: -4rem;
}

/* Hero search */
.ep-autosuggest-container {
  width: 100%;
}

#input_hero-search-form__field {
  width: 100%;
}

/**
 * Fixes font rendering issues in Safari. See https://www.reddit.com/r/Safari/comments/17sa9w9/safari_you_are_killing_me_with_the_700_font/?rdt=63532 for more information.
 */
body {
  font-synthesis: none;
}

/*
Fixes image modal sizing issues in webkit browsers
*/
.c-modal--is-panel.c-modal--is-panel {
  height: max-content;
  width: max-content;
  max-height: 100svh;
  max-width: 100svw;
}
